body {
  direction: rtl;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.hidden-text {
  opacity: 0;
  transition: opacity 0.5s;
}

.active {
  opacity: 1 !important;
}
